body {
    background-color: #7ee0c9;
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 0 auto;
    width: 100%;
    padding-top: 25px;
}
#page{
    background-color: #7ee0c9;
    margin: 0 auto 0 auto;
}
form {
    width: 500px;
    /*position: absolute;*/
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
    /*left: 30%;*/
    clear: both;

}
#id{
    margin: 0 auto;
    padding: 10px;
}
#submit #box{
    text-align: center;
}
label {
    color: #fff;
    display: block;
    margin: 10px 0 10px 0;
    font-size: 24px;
}
label, input ,#box{
    text-align: center;
}

label.checkbox{
    color: black;
    clear: both;

}
em{
    color: blueviolet;
    text-decoration: none;
}

h1 {
    /*background-image: url(/exam/312333914_1075112466497122_7964274959675064053_n.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*text-align: center;*/
    text-indent: -1000%;
    /*height: 80px;*/
    /*line-height: 75px;*/
    /*width: 100%;*/
    /*margin: 0 auto 0 auto;*/
    /*padding: 20px 10px 20px 10px;*/
}
div #footer{
    clear: both;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
a em{
    color: blueviolet;
}

.checkbox {
    display: inline;
    font-size: 16px;
}

input[type='submit']{
    background-color: blueviolet;
    color: #f3dad1;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
